name: Test & Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        thread: [0, 1, 2, 3]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js v15
      uses: actions/setup-node@v1
      with:
        node-version: 15
        registry-url: 'https://registry.npmjs.org'
    - name: Install
      run: yarn install --frozen-lockfile
    - name: Build and validate
      run: yarn build
      env:
        WEB3_PROVIDER_URL: ${{ secrets.WEB3_PROVIDER_URL }}
        ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
    - name: Run tests
      run: yarn test
      env:
        WEB3_PROVIDER_URL: ${{ secrets.WEB3_PROVIDER_URL }}
        ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
        CI_THREAD: ${{ matrix.thread }}
    - name: Publish to NPM registry
      run: yarn publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
